DB_USER=""
DB_PASSWORD=""
DB_HOST=mysql # El host se mantiene a menos que se modifique el servicio en docker
DB_PORT=3306 # El puerto se mantiene a menos que se modifique en docker
DB_NAME=""


MINIO_ENDPOINT="http://minio:9000" # El endpoint se mantiene a menos que se modifique el servicio en docker
MINIO_ACCESS_KEY=""
MINIO_SECRET_KEY=""
MINIO_BUCKET_RAW="raw-data"
MINIO_BUCKET_BACKUPS="backups"